
.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: white;
  justify-content: space-between;
  /* gap:20px; */
  /* padding:6px; */
  /* padding: 20px; */
  /* padding-right:20px;
  padding-top: 10px; */

}
.SideBarDesign{
  position:sticky;
  top:0;
  left:0;
  /* height:100%; */


/* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

/* .MainPageDegisn{
  padding-left: 12px;
} */

/* .MainPageDegisn{
overflow-y: scroll;

} */
